@use '../../../mixins' as *;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  position: relative;
}


.container_for_scroll_buttons > button {
  border-radius: 50%;
  height: 2.75vw;
  width: 2.75vw;
  @include flex-center;
  border: none;
  box-shadow: 0 0 1vw #000B261F;
  background: white;
  cursor: pointer;
}

.container_for_scroll_buttons {
  width: calc(75vw + 2.75vw);
  @include flex-between;
  position: absolute;
  top: calc(50% - (2.75vw / 2));
  left: calc(-2.75vw / 2);
  z-index: 2;
}

.sliders_container {
  overflow-x: auto;
  border-radius: 1.5vw;
  display: flex;
  overflow-y: clip;
  width: 75vw;
  height: 21.234vw;
}