.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}